<!DOCTYPE html>
<html>
  <head>
    <title>travel_shiori</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>

    <% if Rails.env.production? %>
      <script type="module" src="<%= asset_path 'controllers/map_controller.js' %>"></script>
      <script type="module" src="<%= asset_path 'controllers/sortable_controller.js' %>"></script>
      <script type="module" src="<%= asset_path 'controllers/geocoding_controller.js' %>"></script>
    <% end %>
    
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvW_gEtHZ40kEAJJjeNyV22SO0tbsmusw&libraries=places,marker&v=weekly&loading=async" async defer></script>
  </head>

  <body class="bg-gray-50 text-gray-800 font-sans antialiased min-h-screen flex flex-col">
    
    <%= render 'shared/header' unless @hide_header %>

    <div id="flash" class="fixed top-24 right-4 z-[9999] w-full max-w-sm pointer-events-none">
      <%= render 'shared/flash_messages' %>
    </div>

    <div class="flex-1 w-full mx-auto relative flex flex-col">
      <main class="flex-1 w-full">
        <%= yield %>
      </main>

      <% unless @hide_footer %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
  </body>
</html>